<div class="row">
    <div class='col-sm-6 text-left'>
        <h3>User Likes</h3>
    </div>

    <div class='col-sm-6 text-right'>
          <nav>
              <ul class="pagination x-axis-duration">
                  <li><a class="pointer" id='hourly'>Hourly <span class="sr-only">(current)</span></a></li>
                  <li class="active"><a class="pointer" id='day'>Day <span class="sr-only">(current)</span></a></li>
                  <li><a class="pointer" id='week'>Week <span class="sr-only">(current)</span></a></li>
                  <li><a class="pointer" id='month'>Month <span class="sr-only">(current)</span></a></li>
              </ul>
          </nav>
    </div>
</div>
<div class="row">
    <div class='col-sm-12' id='like-chart'>
    </div>
</div>
