<br>
<div class="container">
    <div class="row">
        <div class='col-sm-4 col-sm-offset-4 well' >
            <div class="row">
                <div class='col-sm-12 text-center'>
                    <h3>Sign Up</h3>
                </div>
            </div>
            <ul id='error'>
            </ul>
            <div class="row">
                <div class='col-sm-12 form-group'>
                     <label for="name">Name</label>
                    <input id='name' class='form-control' placeholder="Full Name" required></input>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-12 form-group'>
                     <label for="email">Email</label>
                    <input id='email' class='form-control' placeholder="Email" required></input>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-12 form-group'>
                     <label for="password">password</label>
                    <input type='password' id='password' class='form-control' placeholder="Password" required></input>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-12 form-group'>
                     <label for="password">Confirm password</label>
                    <input type='password' id='confirm-password' class='form-control' placeholder="Confirm Password" required></input>
                </div>
            </div>
            <div class="row">
                <div class='col-sm-12 form-group'>
                    <button type="button" id='submit' class="btn btn-primary btn-block">Sign Up</button>
                </div>
            </div>
             <hr>
             <div class="row">
                 <div class='col-sm-12 text-center'>
                     <p>
                         Already have access?
                         <span><a href="#signin">Sign In</a></span>
                     </p>
                 </div>
             </div>
        </div>
    </div>
</div>
